.App {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 0.5rem;
  font-size: 1rem;
}
th {
  background-color: #555555;
}

tr,
th,
td {
  border: 1px solid;
}